{% extends 'base.html' %}

{% block content %}
<h3>Hello, world. You're at the polls index.</h3>
{% endblock %}
<!--
<div class="k am ak">
 <div class="e">
    <div class="c">
      <div class="ge acz">
        <ul class="ek auk">
          <li class="ace"><h6 class="att">About</h6></li>
          <li class="an">
             We’ve been working on Go Analytics for the better part of a decade and are super proud of what we’ve created. If you’d like to learn more, or are interested in a job, contact us anytime at <a href="mailto: themes@getbootstrap.com">themes@getbootstrap.com</a>.
          </li>
        </ul>
      </div>
      <div class="gb aex acz">
        <ul class="ek auk">
          <li class="ace"><h6 class="att">Product</h6></li>
          <li class="an">Features</li>
          <li class="an">Examples</li>
          <li class="an">Tour</li>
          <li class="an">Gallery</li>
        </ul>
      </div>
      <div class="gb acz">
        <ul class="ek auk">
          <li class="ace"><h6 class="att">Apis</h6></li>
          <li class="an">Rich data</li>
          <li class="an">Simple data</li>
          <li class="an">Real time</li>
          <li class="an">Social</li>
        </ul>
      </div>
      <div class="gb acz">
        <ul class="ek auk">
          <li class="ace"><h6 class="att">Legal</h6></li>
          <li class="an">Terms</li>
          <li class="an">Legal</li>
          <li class="an">Privacy</li>
          <li class="an">License</li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
